

%ul
  - @items.each do |item|
    %li{:name=>item.name}
      %img{:src=>"icons/#{item.icon}", :alt=>item.name}

%h1 This is the homepage of my alter ego <a href="http://blindgaenger.net/" title="You are already here!">blindgaenger</a>.
%p I'm ... no, he's interested in various aspects of software development.

-#
  %hr
  %ul
    - @items.each do |item|
      %li
        %img{:src=>"images/#{item.icon}"}


  - @items.each do |item|
    = item.to_html


%h2{:name=>'blog'} Blog
%p Check out his <a href="http://blog.blindgaenger.net/" title="blindgaenger's blog - when you don't know where you @">Blog</a> about software development and self-evaluation.


%h2{:name=>'soup'} Soup
%p Everything else ends up in a <a href="http://blindgaenger.soup.io/" title="Taste the soup?">Soup</a> ... <strong>Yummy!</strong>


%h2{:name=>'facebook'} Facebook
%p I know how to use <a href="http://www.facebook.com/" title="Book of faces">Facebook</a> and if you're a kind person I'll add you.


-#
  %p
    %img{:src=>'images/com.apple.Maps.png'}
    %span This is some text about the N810 and geo-caching.

  %p
    %img{:src=>'images/com.apple.MobileAddressBook.png'}
    %span Profile

  %p
    %img{:src=>'images/com.apple.mobilemail.png'}
    %span Mail

  %p
    %img{:src=>'images/com.apple.Preferences.png'}
    %span Development

  %p
    %img{:src=>'images/com.apple.Remote.png'}
    %span Music



:javascript
  $(document).ready(function() {

    $("h2").hide();

    $('li').hover(function() {
      $("h2[name=" + $(this).attr('name') + "] + p").addClass("active");
    }, function() {
      $("h2[name=" + $(this).attr('name') + "] + p").removeClass("active");
    });

  });
