/http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines#Color_Palette

!Butter1= #fce94f
!Butter2= #edd400
!Butter3= #c4a000

!Orange1= #fcaf3e
!Orange2= #f57900
!Orange3= #ce5c00

!Chocolate1= #e9b96e
!Chocolate2= #c17d11
!Chocolate3= #8f5902

!Chameleon1= #8ae234
!Chameleon2= #73d216
!Chameleon3= #4e9a06

!SkyBlue1= #729fcf
!SkyBlue2= #3465a4
!SkyBlue3= #204a87

!Plum1= #ad7fa8
!Plum2= #75507b
!Plum3= #5c3566

!ScarletRed1= #ef2929
!ScarletRed2= #cc0000
!ScarletRed3= #a40000

!Aluminium1= #eeeeec
!Aluminium2= #d3d7cf
!Aluminium3= #babdb6
!Aluminium4= #888a85
!Aluminium5= #555753
!Aluminium6= #2e3436

!Black= #000000
!White= #ffffff

body
  color: white
  background-color: black
  font-family: Helvetica,Tahoma,Verdana,Arial,sans-serif
  font-size: 200%

  #box
    /background: transparent url(images/Wallpaper.png) no-repeat scroll center top
    margin: 80px auto 0
    padding: 0
    text-align: left
    width: 640px
    /width: 480px
    /width: 320px
    /height: 320px
    /overflow: hidden

    font-size: 1em
    color= !Aluminium2
    font-weight: bold
    text-align: justify

    h1, p
      display: inline
      font-size: 1em

    a, em
      text-decoration: none
      font-style: normal
      color= !SkyBlue1

    hr
      border-width: 1px
      border-style: solid
      border-color= !Aluminium2


    li
      display: inline
      list-style-type: none
      padding-right: 30px

    img
      cursor: pointer
      /width: 60px
      /height: 60px
      /border-width: 2px
      /border-style: solid
      /border-color= !SkyBlue1
      /padding: 1px
      /-moz-border-radius: 6px
      /width: 1em
      /height: 1em
      /background: transparent url(images/com.apple.Maps.png) no-repeat left top
      /overflow: hidden
      /float: left
