/http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines#Color_Palette

!Butter1= #fce94f
!Butter2= #edd400
!Butter3= #c4a000

!Orange1= #fcaf3e
!Orange2= #f57900
!Orange3= #ce5c00

!Chocolate1= #e9b96e
!Chocolate2= #c17d11
!Chocolate3= #8f5902

!Chameleon1= #8ae234
!Chameleon2= #73d216
!Chameleon3= #4e9a06

!SkyBlue1= #729fcf
!SkyBlue2= #3465a4
!SkyBlue3= #204a87

!Plum1= #ad7fa8
!Plum2= #75507b
!Plum3= #5c3566

!ScarletRed1= #ef2929
!ScarletRed2= #cc0000
!ScarletRed3= #a40000

!Aluminium1= #eeeeec
!Aluminium2= #d3d7cf
!Aluminium3= #babdb6
!Aluminium4= #888a85
!Aluminium5= #555753
!Aluminium6= #2e3436

!Black= #000000
!White= #ffffff

body
  color: white
  background-color= !Black
  font-family: Helvetica,Tahoma,Verdana,Arial,sans-serif
  font-size: 200%

  #box
    margin: 80px auto 0
    padding: 0
    width: 600px
    height: 100%
    background-color= !Black
    color= !Aluminium4
    font-size: 1em
    font-weight: bold
    text-align: left
    text-align: justify

    #main
      float: left
      width: 500px
      border-style: solid
      border-color= !Aluminium4
      border-width: 2px 0 2px 0
      padding: 0.5em 0

      h1
        display: none
      p
        font-size: 1em
        display: inline
        cursor: default

      a, em
        text-decoration: none
        font-style: normal
        color= !SkyBlue1

      a:hover
        color= !Butter1

    #sidebar
      float: right
      width: 100px
      
      ul
        margin: 1em 0
        padding: 0 20px
        
        li
          height: 2em
          margin-bottom: 10px
          list-style-type: none
          border: 0px solid transparent
          border-bottom-width: 4px
          cursor: pointer

          img
            width: 60px
            height: 60px        
            border: none

        li.active
          border-bottom-color= !Butter1

