#main
  %h1 Welcome!
  - @items.each do |item|
    %p{:id=>item['id']}= to_html item

#sidebar
  %ul
    - @items.select {|i| i.is_a? Hash}.each do |item|
      %li{:name=>item['id']}
        %a{:href=>item['link'], :title=>item['desc']}>
          %img{:src=>"/images/#{item['icon']}", :alt=>item['name']}>

:javascript
  var colorButter1 = "#fce94f";
  var colorAluminium4 = "#888a85";

  function animateSection(item, color, time) {
    var section = $("#" + $(item).attr('name'));
    section.stop().animate( { color: color }, time );
  }

  $(document).ready(function() {
    $('li').hover(function() {
      $(this).addClass("active");
      animateSection(this, colorButter1, 250);
    }, function() {
      $(this).removeClass("active");
      animateSection(this, colorAluminium4, 1000);
    });
  });
